.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.telling {
  width: 400px;
  margin: 10px auto;
}

.game {
  /* align-content: space-between; */
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: max-content; */
}

.game-info {
  margin-left: 20px;
}

.game-info,
.game-board {
  margin: auto;
}

.game-list {
  margin: 10px auto ;
  width: 400px;
}

.game-list ol li:hover {
  background-color: darkgrey;
  cursor: pointer;
}

.game-list ol li {
  background-color: rgb(242,242,242);
  display: block;
  margin: 5px 0px;
  min-height: 45px;
  padding: 10px;
}
.game-list .item{
  display: flex;
  flex-flow: column;
}
.game-list .state, .many, .date {
  font-size: 12px;
  margin: auto;
}
.game-list .name{
  font-size: 18px;
  margin-bottom: 10px;
}
.row {
  display: flex;
}
.winner {
  font-size: 22px;
  font-weight: bolder;
}
.isyou {
  color: green;
}
.isnotyou {
  color: gray;
}

.winnerisyou,
.winnerisnotyou { 
font-size: 28px;
font-weight: bolder;
}
.winnerisyou { color: blue; }
.winnerisnotyou { color: red; }


.players{
  display: flex;
}
.player{
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.player .name{
  font-size: 18px;
  font-weight: bold;
}
.player .stats{
  font-size: 14px;
}