.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 15s linear;
  height: 60px;
}

.App-header {
  background-color: #e6e6e6;
  height: 110px;
  padding: 20px;
  color: #666;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.App-Settings {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.App-Settings p label{
  width: 230px;
}

.App-Settings p *{
  width: 120px;
  align-self: flex-end;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

section {
  margin: auto;
}
.App-Rules{
  width: 320px;
}